<section>
  <div class="container d-flex">

    <div ngbDropdown placement="right-top" class="d-inline-block d-sm-none mt-2">
      <button class="btn btn-outline-primary" id="dropdownContext" ngbDropdownToggle>{{ context }}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownContext">
        <button class="dropdown-item" (click)="changeContext('Kids')">Kids</button>
        <button class="dropdown-item" (click)="changeContext('Meals')">Meals</button>
        <button class="dropdown-item" (click)="changeContext('Teachers')">Teachers</button>
        <button class="dropdown-item" (click)="changeContext('Activities')">Activities</button>
        <button class="dropdown-item" (click)="changeContext('Other')">Other</button>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-white d-none d-sm-block">
      <div class="navbar-nav d-flex flex-row">
        <a class="kids        nav-item nav-link text-primary text-center mr-3 mt-1" [ngClass]="{ 'active': context === 'Kids' }" (click)="changeContext('Kids')">Kids</a>
        <a class="meals       nav-item nav-link text-primary text-center mr-3 mt-1" [ngClass]="{ 'active': context === 'Meals' }" (click)="changeContext('Meals')">Meals</a>
        <a class="teachers    nav-item nav-link text-primary text-center mr-3 mt-1" [ngClass]="{ 'active': context === 'Teachers' }" (click)="changeContext('Teachers')">Teachers</a>
        <a class="activities  nav-item nav-link text-primary text-center mr-3 mt-1" [ngClass]="{ 'active': context === 'Activities' }" (click)="changeContext('Activities')">Activities</a>
        <a class="other       nav-item nav-link text-primary text-center mr-3 mt-1" [ngClass]="{ 'active': context === 'Other' }" (click)="changeContext('Other')">Other</a>
      </div>
    </nav>

  </div>

  <hr class="separator d-none d-sm-block">

</section>
