<section>
  <div class="container d-flex">

    <div ngbDropdown placement="right-top" class="d-inline-block d-sm-none mt-2">
      <button class="btn btn-outline-primary" id="dropdownContext" ngbDropdownToggle>{{ context }}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownContext">
        <button class="dropdown-item" (click)="change.emit('kids')">Kids</button>
        <button class="dropdown-item" (click)="change.emit('meals')">Meals</button>
        <button class="dropdown-item" (click)="change.emit('teachers')">Teachers</button>
        <button class="dropdown-item" (click)="change.emit('activities')">Activities</button>
        <button class="dropdown-item" (click)="change.emit('classes')">Classes</button>
        <button class="dropdown-item" (click)="change.emit('other')">Other</button>
      </div>
    </div>

    <nav class="navbar navbar-collapse navbar-light bg-white d-none d-sm-block">
      <div class="navbar-nav d-flex flex-row">
        <a class="kids        nav-item nav-link text-primary text-center mr-3 mt-1" [ngClass]="{ 'active': context === 'kids' }"        (click)="change.emit('kids')">Kids</a>
        <a class="meals       nav-item nav-link text-primary text-center mr-3 mt-1" [ngClass]="{ 'active': context === 'meals' }"       (click)="change.emit('meals')">Meals</a>
        <a class="teachers    nav-item nav-link text-primary text-center mr-3 mt-1" [ngClass]="{ 'active': context === 'teachers' }"    (click)="change.emit('teachers')">Teachers</a>
        <a class="activities  nav-item nav-link text-primary text-center mr-3 mt-1" [ngClass]="{ 'active': context === 'activities' }"  (click)="change.emit('activities')">Activities</a>
        <a class="classes     nav-item nav-link text-primary text-center mr-3 mt-1" [ngClass]="{ 'active': context === 'classes' }"     (click)="change.emit('classes')">Classes</a>
        <a class="other       nav-item nav-link text-primary text-center mr-3 mt-1" [ngClass]="{ 'active': context === 'other' }"       (click)="change.emit('other')">Other</a>
      </div>
    </nav>

  </div>

  <hr class="separator d-none d-sm-block">

</section>
