@import '~bootstrap/scss/functions';
@import '../../../variables.scss';

.navbar {
  padding-bottom: 0;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px;

  &.active {
    font-weight: 500;
    border-radius: 0;
    border-bottom: $primary solid 5px;
  }

}

.separator {
  margin: 0;
  height: 2px;
  background: #A9A3E3;;
}
