<section class="d-flex flex-row flex-wrap justify-content-center justify-content-sm-start">

  <app-student-card class="student-card"></app-student-card>
  <app-student-card class="student-card"></app-student-card>
  <app-student-card class="student-card"></app-student-card>
  <app-student-card class="student-card"></app-student-card>
  <app-student-card class="student-card"></app-student-card>
  <app-student-card class="student-card"></app-student-card>
  <app-student-card class="student-card"></app-student-card>
  <app-student-card class="student-card"></app-student-card>

</section>
