<p class="instructions">Please add the parent/guardian first and then enroll the kids.</p>

<h1 class="page-header">Step 1: Parent/Guardian Details</h1>

<form>

  <section class="d-flex flex-row justify-content-between">
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name">
    </div>
  </section>

  <section class="d-flex flex-row justify-content-between mt-3">
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Relationship">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone">
    </div>
  </section>

  <section class="d-flex flex-row justify-content-between mt-3">
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Address Line 1">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Address Line 2">
    </div>
  </section>

  <section class="d-flex flex-row justify-content-between mt-3">
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="City">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="State">
    </div>
  </section>

  <section class="d-flex flex-row justify-content-between mt-3">
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Zip Code">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
    </div>
  </section>

  <section class="d-flex flex-row justify-content-between mt-4">
    <button type="button" class="btn btn-outline-primary btn-lg">Cancel</button>
    <div class="d-flex flex-row justify-content-between actions">
      <button type="button" class="btn btn-outline-primary btn-lg">Save And Add More</button>
      <button type="button" class="btn btn-primary btn-lg">Next</button>
    </div>
  </section>

</form>
