<header class="container">
  <nav class="navbar navbar-light bg-white d-flex flex-row">
    <span class="navbar-brand mb-0 h1 text-primary only-text">Teddy Care</span>
    <div class="navbar-nav d-flex flex-row">
      <a class="nav-item nav-link active text-primary mr-5"><i class="fas fa-eye"></i> View</a>
      <a class="nav-item nav-link text-primary mr-5"><i class="fas fa-plus-circle"></i> Add</a>
      <a class="nav-item nav-link text-primary mr-5"><i class="fas fa-envelope"></i> Notifications</a>
      <a class="nav-item nav-link text-primary mr-5"><i class="fas fa-file-alt"></i> Records</a>
    </div>
  </nav>
</header>
