/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import './variables';
@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
  padding: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.text-normal {
  opacity: 0.6;
}

.text-subdued {
  opacity: 0.4;
}

.only-text {
  cursor: default;
}


.nav-item.nav-link {
  cursor: pointer;
}

.flex-grow {
  flex: 1 0 auto;
}

.page-header {
  color: #673AB8;
  font-size: 36px;
  letter-spacing: 1px;
  font-weight: 300;
}
